<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <canvas id="visualizer">error: canvas not supported!</canvas>
    <textarea id="editor" rows="3" cols="40"></textarea>
</body>
</html>
